*.swp
*~
*.pyc
*.log
rsync2optiplex.sh
/bower_components
/node_modules
/html/nbproject/private/
nbproject

/logs
config.ini
/nginx/nginx.conf

*.pid
/vity-python27

/html/js/lib
/html/css/*.*
!/html/css/vity.css
/html/fonts


/.sass-cache
/.vimrc
/temp/**/*


/win/*.whl
